#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 20px;
  left: 0;
}

.editor-wrapper {
  height: 400px;
  position: relative;
  border: 1px solid #ACACAC;
  margin-bottom: 5px;
}

#editor-statusbar {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  background-color: rgb(245, 245, 245);
  color: gray;
}

.ace_status-indicator {
  color: gray;
  position: absolute;
  right: 0;
  border-left: 1px solid;
}

.CodeMirror {
  border: 1px solid #ACACAC;
  min-height: 500px;
}

#content nav {
  float: right;
  min-width: 30%;
  background: #eee;
  font-size: 0.9em;
  padding: 1em 2em;
  margin: 0 0 0.5em 0.5em;
  border: 1px solid #ACACAC;
  border-radius: 5px;
}

#content nav a {
  color: #363636;
}

#content nav a:hover {
  color: #808080;
}

#content nav ul {
  padding: 0;
}

#content nav ul ul {
  padding-left: 30px;
}

#content nav li {
  // margin: 0 0 0.25em 0;
}

.highlight {
  color: red;
}