#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1
# export DH_OPTIONS=-v

# the name of the package being built
GO_PACKAGE=github.com/piger/spock

# XXX GOPATH should be: $(CURDIR)/debian/go_build
export GOPATH=$(CURDIR)/go_build


%:
	dh $@

# here we used to compile libgit2 when it was bundled with git2go, which is not
# required anymore. do we still need to 'go get' stuff?
override_dh_auto_configure:
	go get -d -tags "libstemmer icu leveldb" $(GO_PACKAGE)

override_dh_auto_test:
	cd $(GOPATH)/src/$(GO_PACKAGE) && go test ./...

override_dh_install:
	dh_install --sourcedir=$(GOPATH)/bin spock $(DESTDIR)/usr/bin
	dh_install debian/cfg_spock.json $(DESTDIR)/etc/spock/

override_dh_clean:
	rm -rf $(GOPATH)
	dh_clean

