{{define "pageBar"}}
<div class="btn-group">
  <a class="btn btn-xs btn-info" href="{{ reverse "show_page" "pagepath" . }}">/{{.}}</a>
  <a class="btn btn-xs btn-default" href="?action=edit">edit</a>
  <a class="btn btn-xs btn-default" href="?action=rename">rename</a></span>
  <a class="btn btn-xs btn-default" href="?action=log">log</a></span>
  <a class="btn btn-xs btn-warning" href="?action=delete">delete</a></span>
</div>
{{end}}

{{define "alerts"}}
{{range .}}
  <div class="alert alert-{{.Level}}">{{.Message}}</div>
{{end}}
{{end}}

{{define "breadcrumbs"}}
<ol class="breadcrumb">
  {{range .}}
    <li><a href="{{ reverse "show_page" "pagepath" . }}">{{.}}</a></li>
  {{end}}
</ol>
{{end}}

{{define "pageHeader"}}
{{if .breadcrumbs}}{{template "breadcrumbs" .breadcrumbs}}{{end}}
{{if .alerts}}{{template "alerts" .alerts}}{{end}}
{{end}}
