{{define "content"}}

<div class="container">
  <div class="row">

    <div class="col-md-12">

      {{if .breadcrumbs}}
      <ol class="breadcrumb">
        {{range .breadcrumbs}}
          <li><a href="/{{.}}">{{.}}</a></li>
        {{end}}
      </ol>
      {{end}}

      {{template "pageBar" .pageName}}

      <h2>Diff</h2>

      {{range .Diffs}}
      <div class="diff-block">
        <pre><code class="patch">{{.}}</code></pre>
      </div>
      {{end}}

    </div><!-- /.col -->
  </div><!-- /.row -->

</div><!-- /.container -->
{{end}}
