{{define "content"}}

<div class="container">
  <div class="row">
    <div class="col-md-12">

      {{template "pageHeader" .}}

      {{template "pageBar" .page.ShortName}}

      <div id="content">{{.content}}</div>
    </div>
  </div>

  <!-- footer -->
  <hr>

  <div id="footer" class="row">


    <div class="col-md-12">
      <div class="media">
        <a class="pull-left" href="mailto:{{.lastlog.Email}}">
          <img class="media-object" src="http://www.gravatar.com/avatar/{{gravatarHash .lastlog.Email}}?s=64" alt="{{.lastlog.Email}}">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><span class="glyphicon glyphicon-comment"></span> {{.lastlog.Name}} on {{formatDatetime .lastlog.When "Mon Jan 2 15:04 2006"}}</h4>
          <pre>{{.lastlog.Message}}</pre>
        </div>
      </div><!-- /.media -->

      <p><small>generated in {{.render_time}}</small></p>
    </div><!-- /.col -->

  </div><!-- /.footer -->
</div><!-- /.container -->

{{end}}
