{{define "content"}}

<div class="jumbotron">
  <div class="container">
    <h1>Spock Wiki</h1>

    <p class="lead">Spock is a simple wiki software heavily inspired
    by GitHub's <a href="https://github.com/gollum/gollum">Gollum</a>
    and is mostly intended as a personal documentation system.</p>

    <p>Use with caution, it's still in it's early stages.</p>

    <p><a class="btn btn-lg btn-success" href="/index?edit=1" role="button">Get started</a></p>
  </div><!-- /.container -->
</div><!-- /.jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Markup supported</h2>
      <p>Spock supports:</p>
      <ul>
        <li>Markdown with GitHub code blocks</li>
        <li>RestructuredText through <code>rst2html</code></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>git</h2>
      <p>The underlying storage is a <code>git</code> repository.</p>
    </div>

    <div class="col-md-4">
      <h2>Other features</h2>
      <p>Spock does not support many of the features that you will find in a typical Wiki; for example
        there is not concept of <em>linked</em> pages, as each page is just a text file inside a directory.
      </p>
    </div>

  </div>

  <hr>

</div><!-- /.container -->

{{end}}
